* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

body {
  padding: 3rem;
}

input {
  font-size: 1.2rem;
  width: 100%;
  color: green;
}

.card {
  align-content: center;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
  object-fit: contain;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.card p {
  padding: 0.4em;
  text-align: center;
}

.card img {
  max-height: 170px;
}
